.main-content-wrapper {
  display: flex;
  gap: 10px;
}
.inline-b {
  display: inline-block;
}
.sorting-inner-wrapper {
  cursor: pointer;
}
.sorting-inner-wrapper:hover {
  color: #000000;
}
.sort-item {
  padding-left: 20px;
  font-size: 1.15rem;
  color: #5d5d64;
  cursor: pointer;
  font-weight: 400;
}
.sort-item:hover {
  color: #000000;
}
.sort-item-title {
  padding-left: 10px;
  font-size: 1.15rem;
  color: #000000;
  font-weight: 400;
}
.filters__window {
  background-color: rgb(255, 248, 235);
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px 0px 10px 0px;
}
.filters__window h3 {
  padding-left: 10px;
}
.filters__window-checkers {
  display: flex;
  justify-content: space-evenly;
}
.filters-wrapper {
  min-width: 20%; 
  flex-grow: 1;
  flex-shrink: 1;
}
.filters__filters {
  background-color: rgb(245, 245, 246);
  border-radius: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.filters__filters h3 {
  padding-bottom: 10px;
}
.filters__category, .filters__brand {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.cards-wrapper-table {
  flex-direction: row;
}
.cards-wrapper-row {
  flex-direction: column;
}
.mainCard {
  border: 1px solid black;
  width: 24%;
}
.mainCard-table {
  width: 24%;
}
.mainCard-row {
  width: 100%;
}

.card__title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card__title h3 {
  background-color: rgba(34, 34, 34, 0.12);
  text-align: center;
}
.card__buttons-field {
  align-items: center;
  text-align: center;
  padding-top: 5px;
}
.card__btn {
  width: 80px;
  height: 30px;
  border-radius: 10%;
  font-size: 12px;
}
.card__description-field {
  text-align: center;
}
.card__description-field p {
  margin: 0;
}
.filtered {
  display: none !important; 
}
.form-check-counter {
  float: right;
  padding-right: 4%;
  @media screen and (max-width: 992px) {
    float: none;
  }
}
.form-check-label {
  max-width: 84%;
}