#user-name:invalid,
#user-tel:invalid,
#user-address:invalid,
#user-email:invalid,
#credit-card-number:invalid,
#credit-card-expiration:invalid,
#credit-card-cvv:invalid {
  color: $color-invalid-form-text;
}

#user-name:valid,
#user-tel:valid,
#user-address:valid,
#user-email:valid,
#credit-card-number:valid,
#credit-card-expiration:valid,
#credit-card-cvv:valid   {
  color: $color-valid-form-text;
}

.form-input-icon {
  width: 50px;
  aspect-ratio: auto;
}